h1{
	color: purple;
	border: 10px dashed purple;
}
h4{
	background: pink;
}

li{
	color: gold;
}

body{
	/*background: url(https://images.unsplash.com/photo-1478109562701-8d261b58b09d?dpr=1&auto=format&fit=crop&w=376&h=251&q=60&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
	background-repeat: no-repeat;
	background-size: cover;*/
	background: silver;
}

#mySchool{
	background: orange;
}

#weirdLI{
	border: 5px solid blue;
	color: black;

}

.specialLI{
	background: pink;
	color: black;

}